<!-- Footer -->
<footer class="page-footer font-small stylish-color-dark pt-4">

  <!-- Footer Links -->
  <div class="container text-center text-md-left">

    <!-- Grid row -->
    <div class="row">

      <!-- Grid column -->
      <div class="col-md-5 mx-auto">

        <!-- Content -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">QuanWeb Europa</h5>
        <p>
          De student gespecialiseerd in het maken van volledige websites met uitbreidingen zoals een webshop.
        </p>

      </div>
      <!-- Grid column -->

      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-3 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="">
          <li>
            <a [routerLink]='["/themes"]'>Thema's</a>
          </li>
          <li>
            <a [routerLink]='["/webdevelopment"]'>Website bestellen</a>
          </li>
          <li>
            <a [routerLink]='["/webdesign"]'>Website design</a>
          </li>
          <li>
            <a [routerLink]='["/webstructuur"]'>Website structuur & gebruiksgemak</a>
          </li>
          <li>
            <a [routerLink]='["/zoekmachine-optimalisatie"]'>Zoek machine optimalisatie</a>
          </li>
          <li>
            <a [routerLink]='["/blog"]'>Blog</a>
          </li>
        </ul>

      </div>
      <!-- Grid column -->


      <hr class="clearfix w-100 d-md-none">

      <!-- Grid column -->
      <div class="col-md-4 mx-auto">

        <!-- Links -->
        <h5 class="font-weight-bold text-uppercase mt-3 mb-4">Links</h5>

        <ul class="list-unstyled">
            <li>
              <i class="fas fa-home"></i>
              <span>Adres:</span>
              <br>
              <a target="_blank" href="https://www.google.nl/maps/place/Elfde-Liniestraat+23,+3500+Hasselt,+Belgium/@50.9378204,5.3478705,17z/data=!3m1!4b1!4m5!3m4!1s0x47c12170c4778d75:0x85800ca4b76e8e48!8m2!3d50.937817!4d5.3500592">Hasselt, Elfde-Liniestraat, Belgie</a>
              <br>
              <a target="_blank" href="https://www.google.nl/maps/place/Katwijk+aan+Zee/@52.1941287,4.3730993,13z/data=!3m1!4b1!4m5!3m4!1s0x47c5bf534733663d:0xbb710269cc58aae2!8m2!3d52.1992517!4d4.4114135">Katwijk, Hoorneslaan, Nederland</a>
            </li>
            <br>
            <li>
                <i class="fas fa-envelope"></i>
                <span>Email:</span>
                <br>
                <a href="mailto:fluxwt@gmail.com">FluxWT@gmail.com</a>
                <br>
                <a [routerLink]='["/contact"]'>Contact formulier</a>
              </li>
              <br>
              <li>
                  <i class="fab fa-skype"></i>
                  <span>Skype:</span>
                  <br>
                  <a href="skype:QuanDar?chat">QuanDar (klik op chat te starten)</a>
                </li>
        </ul>

      </div>
      <!-- Grid column -->

    </div>
    <!-- Grid row -->

  </div>
  <!-- Footer Links -->

  <hr>

  <!-- Call to action -->
  <ul class="list-unstyled list-inline text-center py-2">
    <li class="list-inline-item">
      <h5 class="mb-1">Neem vrijblijvend contact op</h5>
    </li>
    <li class="list-inline-item">
      <button [routerLink]='["/contact"]' class="btn btn-danger btn-rounded">CONTACT FORMULIER</button>
    </li>
  </ul>
  <!-- Call to action -->

  <hr>

  <!-- Social buttons -->
  <ul class="list-unstyled list-inline text-center">
    <li class="list-inline-item">
      <a class="">
        <i class="fab fa-facebook fa-4x"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="">
        <i class="fab fa-twitter fa-4x"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="">
        <i class="fab fa-google-plus fa-4x"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="">
        <i class="fab fa-linkedin fa-4x"> </i>
      </a>
    </li>
    <li class="list-inline-item">
      <a class="">
        <i class="fab fa-dribbble fa-4x"> </i>
      </a>
    </li>
  </ul>
  <!-- Social buttons -->
  <!-- Copyright -->
  <div class="footer-copyright text-center py-3">
    © 2018 Copyright:
    <a href="#"> QuanDar</a>
  </div>
  <!-- Copyright -->

</footer>
<!-- Footer -->
