<app-breadcrumbs></app-breadcrumbs>
<header>
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <h1>Een design die aansluit bij je visie</h1>
      <p>
        Het vinden van een juiste
        <a [routerLink]='["/themes"]'>theme</a> (website design) valt niet mee. Je wilt iets wat goed aansluit bij je
        expertise en visie. Daarnaast moet het uiterlijk van je website wel je doelgroep aanspreken.
        <br /> Geen probleem, hieronder vind je al een aantal tips en ik help je graag verder.
      </p>

    </div>
    <div class="row d-flex justify-content-center">
      <button class="btn btn-primary" [routerLink]='["/themes"]'>BEKIJK DE WEBSITE DESIGNS</button>
      <button class="btn btn-secondary" onClick="document.getElementById('1').scrollIntoView();">VERTEL MIJ MEER</button>
    </div>
    <div class="row col-md-3">
      <figure style="background-image: url()">

      </figure>
    </div>
  </div>
</header>

<div class="wrapper" id="1">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-9">
        <h2>Responsive design, ook voor mobiel en tablet.</h2>
        <p>
          WordPress is ondertussen het meest populaire Content Management System (CMS) die er is.
          Het beheer van het dit systeem is zeer gemakkelijk. Het aanpassen van design, text,
          afbeeldingen en elementen
          is niet veel moeilijker dan Microsoft Word.
        </p>
        <p>
          Het design is één ding, de website structuur blijft een klus voor specialisten. De inrichting van je website
          kan een groot verschil maken.
        </p>
      </div>
      <div class="col-md-3">
        <img alt="wordpress-website-image" class="img-fluid" src="../../../../../assets/images/responsive_or_not_mockup.png">
      </div>
    </div>
  </div>
</div>
<app-wordpress-templates></app-wordpress-templates>

<div class="wrapper wrapper-inv" id="1">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-9">
        <h2>Welke kleur</h2>
        <p>
          De kleur aanpassen van de website gebeurt in het WordPress menu. Met aan de hand van sliders is dit eenvoudig
          te doen. De kleur moet echter wel passen bij je website.
          Bijvoorbeeld:
        </p>
        <ul>
          <li>Rood voor dating websites of websites met snelle voertuigen</li>
          <li>Blauw voor als je vertrouwen wilt scheppen</li>
          <li>Zwart voor luxe</li>
          <li>Groen voor outdoor, eco-friendly, natuur</li>
        </ul>
        <p>
          Vrouwen en mannen hebben onderling ook weer een andere voorkeur voor kleuren. Samen zullen we aan de slag
          gaan om de meest geschikte kleur voor je website te vinden.
        </p>
      </div>
      <div class="col-md-3">
        <img alt="wordpress-website-image" class="img-fluid" src="../../../../../assets/images/kleur-paneel.jpg">
      </div>
    </div>
  </div>
</div>

<app-contact-page-coffee-hero></app-contact-page-coffee-hero>