<app-breadcrumbs></app-breadcrumbs>
<header>
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <h1>Leg de focus op conversie</h1>
      <p>
        De structuur van je website bepaald het succes. Als bezoekers niet in een aantal seconden kunnen vinden waaar
        zij naar opzoek
        zijn, dan zijn ze zo weer vertrokken. Ik bouw je website aan de hand van feiten, geen meningen.
      </p>

    </div>
    <div class="row d-flex justify-content-center">
      <button [routerLink]='["/contact"]' class="btn btn-primary">IK BEN GEÏNTERESSEERD</button>
      <button class="btn btn-secondary" onClick="document.getElementById('1').scrollIntoView();">VERTEL MIJ MEER</button>
    </div>
    <div class="row col-md-3">
      <figure style="background-image: url()">

      </figure>
    </div>
  </div>
</header>

<div class="wrapper" id="1">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-8">
        <h2>Website menu</h2>
        <p>
          Het website menu moet laten zien wat je te bieden hebt. Een goede navigatie wijst gebruikers de weg op je
          website en
          verbeterd de usability
          enorm. Als bonus
          <span style="font-weight: bold">scoort je website dan ook beter bij Google.</span>
          Veel gemaakte fouten zijn om je menu vol te zetten met vage termen. Enkele voorbeelden:
        </p>
        <ul>
          <li>Diensten / Services</li>
          <li>Aanbod</li>
          <li>Producten (een hele erge)</li>
          <li>Oplossingen</li>
        </ul>
        <p>
          Meestal zit de navigatie boven in de website. Wanneer het website menu te groot wordt kan deze ook aan de
          zijkant worden
          gezet. Denk hierbij aan nieuws sites of een webshop zoals coolblue.
        </p>
      </div>
      <div class="col-md-3 offset-md-1">
        <img alt="wordpress-website-image" class="img-fluid" src="../../../../../assets/images/mind-map-navigation.png">
      </div>
    </div>
  </div>
</div>
<div class="wrapper wrapper-inv">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-8">
        <h2>Call-to-action: spoor bezoekers aan actie te ondernemen</h2>
        <p>
          Je kan nog zoveel goede informatie hebben op je website, uiteindelijk moet je mensen aansporen om iets te
          kopen. Of het nu
          gaat om een service, product of het doorsturen van de bezoeker naar een andere pagina.
        </p>
        <p>
          De plaatsing van deze call to action elementen kan een behoorlijke uitdaging zijn. Te veel komt over als
          doordrammen, maar
          te weinig en je bezoekers doen misschien helemaal niets en vertrekken. Het doel is dan om ook zo'n hoog
          mogelijk conversie te genereren.
        </p>
        <a [routerLink]='["/"]'>Alles over een goede call-to-action</a>

      </div>
      <div class="col-md-3 offset-md-1">
        <img alt="call-to-action-image" class="img-fluid" src="../../../../../assets/images/call-to-action.png">
      </div>
    </div>
  </div>
</div>

<div class="wrapper">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-8">
        <h2>Inrichten van de website</h2>
        <p>
          De locatie en hoeveelheid van elementen zijn belangrijk voor de usability. Wanneer bepaalde belangrijke
          elementen op een
          verkeerde locatie staan, worden deze over het hoofd gezien of kunnen als vervelend worden ervaren.
        </p>
        <p>
          Te veel elementen / keuze is ook niet goed. Als bezoekers niet snel vinden naar waar zij op zoek zijn, dan
          zijn ze zo weer
          weg. Hou het clean en simpel. Het gaat uiteindelijk om je bezoekers. Samen gaan wij aan de slag voor een ideale lay out.
        </p>
      </div>
      <div class="col-md-3 offset-md-1">
        <img alt="wordpress-website-image" style="max-height: 260px" class="img-fluid" src="../../../../../assets/images/mockup.jpg">
      </div>
    </div>
  </div>
</div>

<div class="wrapper wrapper-inv">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-8">
        <h2>Doeltreffende teksten schrijven</h2>
        <p>
          Usability en conversie is veel meer dan alleen een goed design. De usability van een website wordt sterk beïnvloed door teksten.
        </p>
        <p>
          Dit betekend geen kilometer lange teksten met allerlei technische termen. Hou het zo kort en begrijpbaar
          mogelijk.
          Ik kijk naar zoektermen die vaak bij Google worden gebruikt. Deze woorden verwerken we dan in de
          tekst.
        </p>
        <p>
          Door de juiste teksten te gebruiken en door mensen verder te laten klikken naar nieuwe pagina's aan de hand
          van deze teksten heet <a [routerLink]='["/"]'>search engine optimization of SEO</a>.
        </p>
        <p>
          Uiteindelijk ben jij de expert, dit betekend dat ik niet je teksten kan schrijven, maar wel kan helpen.
          <br>
          <strong>Het schrijven van de teksten kan eventueel ook uitbesteedt worden.</strong> 
        </p>
        <a [routerLink]='["/"]'>Alles over het schrijven van doeltreffende teksten</a>

      </div>
      <div class="col-md-3 offset-md-1">
        <img alt="call-to-action-image" class="img-fluid" src="../../../../../assets/images/read-and-write-text-for-googlek.gif">
      </div>
    </div>
  </div>
</div>

<app-contact-page-coffee-hero></app-contact-page-coffee-hero>