<header class="container-fluid">
  <div class="hero">
      <div class="hero-image no-pad">
        <div class="hero-image-layer">
          <div class="hero-text">
            <h2 class="">
              EEN WEBSITE OP BASIS VAN FEITEN, MET EEN CLEAN UITERLIJK EN JOUW BEZOEKERS CENTRAAL ZET
            </h2>
            <div class="hero-text-body">
              <p>
                Ik ben Roy, studeer aan de hogeschool PXL en maak in mijn vrije tijd websites. Websites met een clean en duidelijk ontwerp,
                met de focus op conversie.
              </p>
              <div>
                <button type="button" class="btn btn-primary btn-style ">GET STARTED</button>
                <small class="align-middle">Geen gegevens gevraagd!</small>
              </div>
            </div>
          </div>
      </div>
    </div>
  </div>
</header>




<div class="container" id="opportunities-logos">
  <div class="row">
    <div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-4 h-wp-templates-item">
      <span>
        <i class="fas fa-shopping-cart"></i>
      </span>
      <h4>Webwinkel</h4>
      <p>Bestellen van eten / producten eenvoudig binnen WordPress. </p>
    </div>
    <div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-4 h-wp-templates-item">
      <span >
        <i class="fas fa-ticket-alt"></i>
      </span>
      <h4>Ticketverkoop/ scanner</h4>
      <p>Evenementen ticket scanner (smartphone) & verkoop in de webwinkel. </p>
    </div>
    <div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-4 h-wp-templates-item">
      <span >
        <i class="fas fa-calendar-check"></i>
      </span>
      <h4>Online afspraakplanner</h4>
      <p>Laat klanten zelf afspraken maken en hun afspraken inzien in vele calanders</p>
    </div>
    <div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-4 h-wp-templates-item">
      <span >
        <i class="fab fa-google"></i>
      </span>
      <h4>Google vriendelijk</h4>
      <p>Website wordt makkelijk gevonden door google! SEO Search Engine Optimalisation.</p>
    </div>
    <div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-4 h-wp-templates-item">
      <span >
        <i class="fas fa-mobile-alt"></i>
      </span>
      <h4>Mobiel vriendelijke</h4>
      <p>Responsive voor alle apparaten. Ook voor hele grote schermen tot de kleinste.</p>
    </div>
    <div class="col-6 col-xs-6 col-sm-6 col-md-4 col-lg-4 h-wp-templates-item">
      <span >
        <i class="fas fa-plug"></i>
      </span>
      <h4>En veel meer</h4>
      <p>Er is uitterraard nog veel meer mogelijk met WordPress Plugins.</p>
    </div>
  </div>

  <div class="row">

  </div>

</div>



<div class="row theme-intro">
  <div class="main-background-color w-100">
    <h3>Kies uit honderde verschillende website designs, gemaakt door mijn beste partners.</h3>
    <hr>
    <p>Dit zijn themes (website designs) gemaakt door teams die duizenden keren zijn verkocht, deze worden constant geüpdateted.
      <br> Geen zorgen, je krijgt nog steeds een unieke website!
    </p>
  </div>
</div>
<div class="container-background">
    <app-recent-work-full-width></app-recent-work-full-width>
</div>

<div class="container-background-dk">
  <div class="container">
    <div class="row web-info-pick">
      <div class="col-md-6">
        <h4>WordPress website bestellen</h4> 
        <p>
          WordPress is de populairse Content Managing System (CMS) die er is. Dit betekend dat je je website zeer eenvoudig kan beheren
          via een gebruikerspaneel. Pagina's maken met een
          <a href="#">pagina builder</a>, kleuren aanpassen van je website met een paar klikken.
        </p>
        <ul class="fa-ul">
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>Webshop/ Ticketverkoop/ afspraakplannen/ enzv mogelijk met
            <a href="#">plugins</a>
          </li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>Security en
            <a href="#">theme</a> updaten met een klik op de knop</li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>Zelf pagina's maken met de
            <a href="#">paginabuilder</a>, geen codeer kennis nodig</li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>Zeer eenvoudig in beheer door de
            <a href="#">WordPress admin panel</a>
          </li>
        </ul>
      </div>
      <div class="col-md-6">
        <h4>Geavanceerde website op maat</h4>
        <p>
          Wanneer WordPress niet meer voldoet aan de eisen kunnen we een website van de grond bouwen. Je hebt dan de volledige controle over beveiligingen, database en code. 
          Denk hierbij aan projecten zoals: kamerbestand, overheid, externe applicaties. 
          
        </p>
        <ul class="fa-ul">
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>WEB API services</li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>Backend: ASP.NET core</li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>Frontend: Angular 2+ of React</li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>Geschikt voor werken met grote hoeveelheden data</li>
          <li>
            <span class="fa-li">
              <i class="fas fa-check"></i>
            </span>Zeer flexibel</li>
        </ul>
      </div>
    </div>
  </div>
</div>

<app-contact-page-coffee-hero></app-contact-page-coffee-hero>