<app-breadcrumbs></app-breadcrumbs>
<header class="">
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <h1>Een design die aansluit bij je visie</h1>
      <p>
        Het vinden van een juiste
        <a [routerLink]='["/themes"]'>theme</a> (website design) valt niet altijd mee. Je wilt iets wat goed aansluit bij je expertise en visie.
        <br/> Geen probleem, hieronder vind je al een aantal tips en ik help je graag verder.
      </p>

    </div>
    <div class="row d-flex justify-content-center">
      <button class="btn btn-primary">JA, IK WIL EEN NIEUWE WEBSITE</button>
      <button class="btn btn-secondary" onClick="document.getElementById('1').scrollIntoView();">VERTEL MIJ MEER</button>
    </div>
    <div class="row col-md-3">
      <figure style="background-image: url()">

      </figure>
    </div>
  </div>
</header>

<div class="wrapper" id="1">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-9">
        <h1>Website ontwikkelen en ontwerpen</h1>
        <h4>WordPress</h4>
        <p>
          WordPress is ondertussen het meest populaire Content Management System (CMS) die er is.
          <a href="#">Het beheer van het dit systeem is zeer gemakkelijk</a>. Het aanpassen van design, text, afbeeldingen en elementen
          is niet veel moeilijker dan word.
        </p>
        <p>
          Het design is één ding, de
          <a [routerLink]='["/webstructuur"]'>website structuur</a> blijft een klus voor specialisten om zo'n hoog mogelijk conversie te generen
        </p>

      </div>
      <div class="col-md-3">
        <img alt="wordpress-website-image" class="img-fluid" src="../../../../../assets/images/cloud-image.png">
      </div>
    </div>

    <div class="row d-flex align-items-center">
      <div class="col-md-9 order-md-2">
        <h4>Custom applicatie</h4>
        <p>
          Voor zeer specifieke wensen, zoals uitgebreid custom database, hele speciale filters, grafieken is wordpress minder geschikt.
          Een framework zoals angular met asp.net core backend is dan beter.
        </p>
        <p>
          Hiervoor kunt u het beste contact opnemen. Voor 95% van de gevallen is WordPress de beste keuze.
        </p>
      </div>
      <div class="col-md-3 order-md-1">
        <img alt="wordpress-website-image" class="img-fluid" src="../../../../../assets/images/cloud-image.png">
      </div>
    </div>
  </div>
</div>


<div class="wrapper wrapper-inv" id="3">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-9">
        <h1>Budget</h1>
        <p>
          Veel mensen steken hun volledige budget in hun website. In sommige gevallen kan dit werken, maar vaak ook niet. Wanneer je
          bijvoorbeeld je nieuwe website met webshop opent is het verstandig om minstens 2/5 van het budget in website promotie
          te steken. Denk hierbij bijvoorbeeld aan google advertenties.
        </p>
        <p>
          Je website hoeft niet in een keer volledig af te zijn. Als de fundering maar goed is. Daarna is het altijd mogelijk om je
          website verder uit te breiden indien nodig.
        </p>
        <p>
          Uitterraard zijn er nog veel dingen om hoger te scoren in Google en beter gevonden te worden. Een blog, nieuwe website uitbreidingen
          en social media helpen allemaal om meer bezoekers te generen.
        </p>

      </div>
      <div class="col-md-3">
        <img alt="wordpress-website-image" class="img-fluid" src="../../../../../assets/images/budget.png">
      </div>
    </div>
  </div>
</div>
<app-contact-page-coffee-hero></app-contact-page-coffee-hero>