<app-breadcrumbs></app-breadcrumbs>
<header>
  <div class="container">
    <div class="row text-center d-flex justify-content-center">
      <h1>Een design die aansluit bij je visie</h1>
      <p>
        Het vinden van een juiste
        <a [routerLink]='["/themes"]'>theme</a> (website design) valt niet altijd mee. Je wilt iets wat goed aansluit bij je expertise en visie.
        <br/> Geen probleem, hieronder vind je al een aantal tips en ik help je graag verder.
      </p>

    </div>
    <div class="row d-flex justify-content-center">
      <button class="btn btn-primary">IK BEN GEÏNTERESSEERD</button>
      <button class="btn btn-secondary">VERTEL MIJ MEER</button>
    </div>
    <div class="row col-md-3">
      <figure style="background-image: url()">

      </figure>
    </div>
  </div>
</header>

<div class="wrapper wrapper-inv">
  <div class="container">
    <div class="row d-flex align-items-center">
      <div class="col-md-8">
        <h2>Doeltreffende teksten schrijven</h2>
        <p>
          Usability en conversie is veel meer dan alleen een goed design. De usability van een website wordt sterk bepaald door beïnvloed
          teksten.
        </p>
        <p>
          Dit betekend geen kilometer lange teksten met allerlei technische termen. Hou het zo kort en begrijpbaar mogelijk. Ik kijk
          naar zoektermen die vaak bij Google en Bing worden gebruikt. Deze woorden verwerken we dan in de tekst.
        </p>
        <p>
          Door de juiste teksten te gebruiken en door mensen verder te laten klikken naar nieuwe pagina's aan de hand van deze teksten
          heet
          <a href="#">search engine optimization of SEO</a>.
        </p>
        <p>
          Uiteindelijk bent u de expert, dit betekend dat ik niet je teksten kan schrijven, maar wel kan helpen. Het schrijven van
          de teksten kan eventueel ook uitbesteedt worden.
        </p>
        <a href="">Alles over het schrijven van doeltreffende teksten</a>

      </div>
      <div class="col-md-3 offset-md-1">
        <img alt="call-to-action-image" class="img-fluid" src="../../../../../assets/images/read-and-write-text-for-googlek.gif">
      </div>
    </div>
  </div>
</div>

<app-contact-page-coffee-hero></app-contact-page-coffee-hero>